/*
    Name:   Liam Gunton -LiamGunton3@gmail.com
    Date:   Feb 02/2022
    Purpose:Rock Paper Scisors game
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.player-icons {
  display: flex;
  flex-direction: row;
}
.emoji {
  font-size: 10rem;
  cursor: pointer;
  user-select: none;
  display: none;
}
.game-emoji {
  font-size: 10rem;
  cursor: pointer;
  user-select: none;
  display: none;
}

.player-emoji {
  font-size: 6rem;
  cursor: pointer;
  user-select: none;
  display: none;
  border-radius: 0.2em;
}
.text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text {
  font-size: 5rem;
  display: none;
}
.title-text {
  font-size: 5rem;
}
.title {
  display: flex;
}

.active {
  display: flex;
}
.refresh {
  font-size: 2.5em;
  cursor: pointer;
  user-select: none;
}
